.btn {
  background-color: var(--button-bg, #fff);
  color: var(--button-fg, var(--color-text));
  border-color: var(--button-border, var(--color-rose-400));
  border-radius: 999em;
  padding: 12px;
  min-width: 160px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: all .1s;
  font-size: 14px;
  font-weight: 600;

  &.btn-primary {
    --button-bg: var(--color-primary);
    --button-fg: #fff;
    --button-border: transparent;
  }

  &.btn-large {
    padding: 16px 24px;
    font-size: 16px;
  }

  &.btn-icon {
    --button-bg: transparent;
    --button-fg: #fff;
    border: none;
    min-width: unset;
    margin-block: -12px;

    &:where(:first-child) {
      margin-inline-start: -12px;
    }

    &:where(:last-child) {
      margin-inline-end: -12px;
    }

    @media (pointer: fine) {
      padding: 0;
      margin: 0;
    }
  }

  &.btn-quantity {
    justify-content: space-between;
  }
}

@media (hover: hover) {
  button:hover {
    &:is(.btn) {
      --button-fg: var(--color-red);
      --button-border: var(--color-red);
    }

    &:is(.btn-primary) {
      --button-fg: #fff;
      --button-bg: color-mix(in srgb, var(--color-primary), #000 25%);
      --button-border: transparent;
    }

    &:is(.btn-icon) .icon {
      --icon-fill: #fff;
      color: var(--color-primary);
    }
  }
}
