.btn {
  background-color: var(--button-bg, #fff);
  color: var(--button-fg, var(--color-text));
  border-color: var(--button-border, var(--color-rose-400));
  border-radius: 999em;
  padding: 12px;
  min-width: 160px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: all .1s;
  font-size: 14px;
  font-weight: 600;
}

.btn.btn-primary {
  --button-bg: var(--color-primary);
  --button-fg: #fff;
  --button-border: transparent;
}

.btn.btn-large {
  padding: 16px 24px;
  font-size: 16px;
}

.btn.btn-icon {
  --button-bg: transparent;
  --button-fg: #fff;
  border: none;
  min-width: unset;
  margin-block: -12px;
}

.btn.btn-icon:where(:first-child) {
  margin-inline-start: -12px;
}

.btn.btn-icon:where(:last-child) {
  margin-inline-end: -12px;
}

@media (pointer: fine) {
  .btn.btn-icon {
    padding: 0;
    margin: 0;
  }
}

.btn.btn-quantity {
  justify-content: space-between;
}

@media (hover: hover) {
  button:where(.btn):hover {
    --button-fg: var(--color-red);
    --button-border: var(--color-red);
  }

  button:where(.btn-primary):hover {
    --button-fg: #fff;
    --button-bg: color-mix(in srgb, var(--color-primary), #000 25%);
    --button-border: transparent;
  }

  button:where(.btn-icon) .icon:hover {
    --icon-fill: #fff;
    color: var(--color-primary);
  }
}
