.cart-item {
  list-style: none;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;

  & * {
    margin-top: 0;
    font-size: inherit;
  }

  & :is(.name, .quantity, .total) {
    font-weight: 600;
  }

  & .quantity-and-price {
    display: flex;
    gap: 8px;
    color: var(--color-rose-500);
    margin-top: 8px;
  }

  & .quantity {
    color: var(--color-primary);
  }

  & .actions {
    display: flex;
    gap: 8px;
  }
}
