.icon {
  display: inline-block;
}

.icon-cart {
  color: var(--color-primary);
}

.icon-remove {
  color: var(--color-rose-400);
}

:where(.icon-carbon-neutral, .icon-order-confirmed) {
  color: var(--color-green);
}
