.modal {
  --wrapper-max-width: 592px;
  --wrapper-side-padding: 40px;
  width: 100%;

  &:where(dialog) {
    /* position: static; */
    border: none;
    margin-inline: 0;
    max-width: 100%;
    padding: 0;
    background-color: transparent;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 50%);
  }

  & .inner {
    /* border: 1px solid red; */
    border-radius: 12px;
    background-color: var(--modal-bg, #fff);
    padding: 40px var(--fluid-24-40);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 32px;
  }

  & * {
    margin-top: 0;
    line-height: normal;
  }

  & .message .icon {
    margin-bottom: 24px;
  }

  & .title {
    font-size: 40px;
    line-height: 1.2;
  }

  & .description {
    margin-top: 8px;
    color: var(--color-rose-500);
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .modal {
    --wrapper-max-width: 100%;
  }
}

@media (max-width: 500px) {
  .modal {
    --wrapper-side-padding: 0;
    margin-bottom: 0;
    max-height: 88.3vh;
    height: 100%;

    & .inner {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    & :is(.wrapper, .inner) {
      height: 100%;
    }

    & .order-summary {
      overflow-y: hidden;

      & ul {
        overflow-y: scroll;
      }
    }
  }
}
