.order-item {
  list-style: none;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 16px;

  & * {
    margin-top: 0;
    font-size: 14px;
    line-height: normal;
  }

  & :is(.name, .quantity, .total) {
    font-weight: 600;
  }

  & .quantity {
    color: var(--color-primary);
  }

  & .price {
    color: var(--color-rose-500);
  }

  & .total {
    margin-left: auto;
  }

  & .image {
    aspect-ratio: 1;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  & .info {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    & .name {
      width: 100%;
    }
  }
}
