.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 1rem);

  > .sidebar {
    flex-basis: var(--sidebar-width, 20rem);
    flex-grow: 1;
  }

  > :not(.sidebar) {
    flex-basis: 0;
    flex-grow: 999;
    /* Wrap when the elements are of equal width */
    min-inline-size: 60%;
  }
}
