main {
  --gutter: 32px;
  --sidebar-width: 384px;
  --wrapper-max-width: 1216px;
  --wrapper-side-padding: var(--fluid-24-40);
  padding-block: var(--fluid-24-40);
  min-height: 100vh;

  > * {
    max-width: 800px;
    margin-inline: auto;
  }

  & h2 {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 1.2;
  }

  & .product-grid {
    margin-block: 0;
  }

  & .cart {
    position: sticky;
    top: var(--fluid-40-88);
  }
}

@media (min-width: 768px) {
  main {
    padding-block: var(--fluid-40-88);
  }
}
